@media (max-width: 991.8px) {
  .navbar-toggler[type="button"] {
    border: 0;
  }
  .navbar-toggler:focus {
    outline: 0;
    box-shadow: none;
  }
  .navbar-nav {
    text-align: center;
  }

  .nav_part .navbar .navbar-nav .nav-item > a {
    line-height: 50px !important;
    font-size: 20px !important;
    padding-left: 0px !important;
  }
  /* nav part ends here */
  .container .row .banner_content h1 {
    line-height: 80px;
    letter-spacing: 1px;
  }
  .container .row .banner_content p {
    font-size: 1.875rem;
  }
  /* banner part ends here */
  .glary .container .row {
    justify-content: center;
  }
  .glary .container .row .img_glary {
    width: 48%;
    margin: 5px;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 1);
  }
  /* my work part ends here */
}
/* mideum device*/

@media (max-width: 767.98px) {
  .navbar-toggler[type="button"] {
    border: 0;
  }
  .navbar-toggler:focus {
    outline: 0;
    box-shadow: none;
  }
  .navbar-nav {
    text-align: center;
  }
  .nav_part .navbar .navbar-nav .nav-item > a {
    line-height: 40px !important;
    font-size: 15px !important;
    padding-left: 0px !important;
  }
  /* togelbar ends here */
  .container .row .banner_content h4 {
    padding-top: 120px;
  }
  .container .row .banner_content h1 {
    font-size: 40px;
    letter-spacing: 1px;
  }
  .container .row .banner_content img {
    padding: 40px 0px;
  }
  .container .row .banner_content > .know_more {
    margin-bottom: 120px;
  }
  /* banner ends here */
  .about .container .row .about_us p {
    padding: 0px 50px;
    line-height: 35px;
  }
  .about .container .row .about_us {
    padding-bottom: 50px;
  }
  .about .container .row .about_content ul li p {
    font-size: 14px;
    padding: 5px 0px 0px 0px;
  }
  .about .container .row .about_content {
    border: none;
  }
  /* about ends here */
  .about {
    padding-bottom: 60px;
  }
  .service_width {
    width: 50%;
  }
  .service_part .service_content .serveice_globe p {
    font-size: 14px;
    padding-right: 10px;
  }
  .service .service_bg {
    padding-bottom: 40px;
    overflow: hidden;
  }
  /* services part ends here */
  .glary .container .row {
    justify-content: center;
  }
  .glary .container .row .img_glary {
    width: 48%;
    margin: 5px;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 1);
  }
  .glary .container .row .img_glary:hover .overlay {
    align-content: center;
  }
  .container .row .img_glary .overlay h4 {
    transform: translateY(0px) !important;
  }
  .container .row .img_glary .overlay p {
    transform: translateY(0px) !important;
  }
  /* glary ends here */
}

/* small device */
@media (max-width: 575.98px) {
  .row {
    margin: 0px 0px;
    padding: 0px 0px;
    overflow: hidden;
  }
  header .nav_part .navbar .navbar-nav .nav-item > a {
    line-height: 35px !important;
    font-size: 12px !important;
    padding-left: 0px !important;
  }
  /* nav ends here */
  .banner_part {
    overflow: hidden;
  }
  .banner_part .container {
    padding: 0;
  }
  .banner_part .container .banner_content section {
    text-align: center;
    width: 100%;
  }
  .container .row .banner_content h4 {
    padding-top: 50px;
    font-size: 18px;
  }
  .container .row .banner_content h1 {
    font-size: 35px;
    letter-spacing: 1px;
  }
  .container .row .banner_content p {
    font-size: 18px;
    line-height: 20px;
  }
  .container .row .banner_content img {
    padding: 30px 0px;
  }
  .container .row .banner_content > .know_more {
    margin-bottom: 60px;
  }
  /* banner part ends here */
  .about .container .row .about_us {
    padding-bottom: 30px;
  }
  .about .container .row .about_us h1 {
    margin-top: 20px;
    font-size: 2rem;
  }
  .about .container .row .about_us > img {
    margin: 15px 0px;
  }
  .about .container .row .about_us p {
    padding: 0px 20px;
    line-height: 30px;
  }
  .about .container .row .about_content {
    border: none;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .about .container .row .about_content ul {
    width: 80%;
  }
  /* about part ends here */
  .service_width {
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }
  .service_part .service_heading h1 {
    font-size: 2rem;
    padding: 40px 0px 10px 0px;
  }
  .service_part .service_heading p {
    padding: 10px 0px 25px 0px;
    line-height: 25px;
  }
  /* service part ends her*/
  .glary .container .row h1 {
    font-size: 2rem;
    padding: 40px 0px 10px 0px;
  }
  .glary .container .row p {
    padding-top: 10px;
    padding-bottom: 30px;
    line-height: 30px;
  }
  .glary .container .row .img_glary {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 1);
  }
  .glary .container .row .img_glary .overlay {
    align-content: center;
  }
  /* my work part ends here */
  .contact .container .row .contact_part h1 {
    padding-top: 30px;
    padding-bottom: 0px;
    font-size: 2rem;
  }
  .contact .container .row .contact_part p {
    padding-top: 8px;
    padding-bottom: 30px;
    line-height: 30px;
  }
  /* contact me part ends here */
  .footer_part .input_box:first-child {
    margin-top: 15px;
  }
  /* footer_contact part ends here */
  .copyright .container .row span {
    line-height: 40px;
  }
}
