*{
	margin: 0;
	padding: 0;
}
ul,ol{
	list-style-type: none;
}
header .nav_part .navbar .navbar-nav .nav-item .nav-link{
	padding: 0;
}
/* common css ends */
header{
	background-color: #02918c;
}
header .nav_part{
	background-color: #02918c;
}
header .nav_part .navbar .navbar-brand{
	font-size: 26px;
	font-weight: 800;
	align-items: center;
	text-transform: uppercase;
	color: #ffff;
	font-family: Open Sans;
	padding: 0;
}
header .nav_part .navbar .navbar-brand span{
	color: #cfc91d;
}
header .nav_part .navbar .navbar-nav .nav-item .nav-link{
	text-decoration: none;
	font-size: 12px;
	line-height: 60px;
	font-family: Open Sans;
	color: #ffff;
	font-weight: 700;
	padding-left: 50px;
	text-transform: uppercase;
}